.circle {
  @extend %flex-container;
  height: 100%;
  width: 100%;
  padding: 2px;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(180deg);
  background: conic-gradient($main-purple, $accent-sec, #ffa409 90%);
  &__half {
    height: 100%;
    width: 50%;
    overflow: hidden;
    &.upper {
      transform: rotate(180deg);
    }
    .inner {
      margin-left: -1px;
      height: 100%;
      width: 100%;
      border-radius: 0 100% 100% 0 / 0 50% 50% 0;
      background: $main-purple;
      transform-origin: left center;
      &.up {
        will-change: transform;
        transition: transform 250ms ease-out 250ms;
      }
      &.down {
        will-change: transform;
        transition: transform 250ms ease-in 250ms;
      }
    }
  }
  &__arrow {
    @extend %flex-container;
    background: conic-gradient(
      transparent 49%,
      rgba(73, 56, 45, 1) 49.75%,
      $main-red 50%,
      transparent 50.25%
    );
    width: 100%;
    height: 100%;
    will-change: transform;
    transition: transform 250ms ease-in 250ms;
    &-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      will-change: transform;
      transition: transform 250ms ease-out;
    }
    &--dot {
      width: 80px;
      height: 80px;
      @media screen and (min-width: $tablet) {
        height: 100px;
        width: 100px;
      }
      background: $main-purple;
      border: 2px solid $accent-sec;
      border-radius: 50%;
      color: #fff;
    }
  }
}
.circle__wrapper {
  position: relative;
  height: 180px;
  width: 180px;
  @media screen and (min-width: $tablet) {
    height: 220px;
    width: 220px;
  }
  padding: 10px;
  background: conic-gradient($main-purple, $accent-sec, $main-purple);
  transform: rotate(225deg);
  box-shadow: -1px -1px 4px 1px rgba(0, 0, 0, 1),
    0 0 26px rgba(255, 107, 9, 0.8);
}

#statistics.hover {
  .inner.down {
    will-change: transform;
    transition: transform 1s ease-in;
    transform: rotate(180deg);
  }
  .inner.up {
    will-change: transform;
    transition: transform 1s ease-out 1s;
    transform: rotate(178deg);
  }
  .circle__arrow {
    will-change: transform;
    transition: transform 1s ease-in;
    transform: rotate(180deg);
    &-wrapper {
      transition: transform 1s ease-out 1s;
      transform: rotate(178deg);
    }
  }
}
#id_circle {
  position: relative;
}
#speed {
  position: absolute;
  text-align: right;
  z-index: 12;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
  transition: transform $transition;
  width: 70px;
  color: #fff;
  font-size: 20px;
}

#calc {
  .inner.up {
    will-change: transform;
    transition: transform 50ms linear;
  }
  .inner.down {
    will-change: transform;
    transition: transform 50ms linear;
  }
  .circle__arrow {
    will-change: transform;
    transition: transform 50ms linear;
  }
}
