@keyframes travel {
  0% {
    transform: translate(-1000px, 360px) rotate(-20deg);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 15px) rotate(-20deg) scale(1);
  }
  85% {
    filter: brightness(1);
    transform: translate(0, 15px) rotate(-20deg) scaleX(0.8);
  }
  90% {
    filter: brightness(3);
    transform: translate(0, 15px) rotate(-20deg) scaleX(1.1);
  }
  92% {
    opacity: 1;
    transform: translate(0, 15px) rotate(-20deg) scale(1, 0.5);
  }
  100% {
    transform: translate(1000px, -360px) rotate(-20deg) scale(10, 0.1);
    opacity: 0;
  }
}
@keyframes portal {
  0% {
    filter: brightness(1) drop-shadow(0 0 6px rgba(0, 191, 255, 0.4));
  }
  85% {
    filter: brightness(1) drop-shadow(0 0 6px rgba(0, 191, 255, 0.4));
    transform: scale(1, 1);
  }
  90% {
    filter: brightness(2) drop-shadow(0 0 36px rgba(0, 191, 255, 0.9));
    transform: scale(1.04, 1);
  }
  95% {
    transform: scale(1, 0.94);
  }
  97% {
    transform: scale(0.94, 1);
  }
  100% {
    filter: brightness(1) drop-shadow(0 0 6px rgba(0, 191, 255, 0.4));
    transform: scale(1, 1);
  }
}
@keyframes newRocket {
  0% {
    filter: hue-rotate(0deg);
  }
  19% {
    filter: hue-rotate(0deg);
  }
  20% {
    filter: hue-rotate(250deg);
  }
  39% {
    filter: hue-rotate(250deg);
  }
  40% {
    filter: hue-rotate(150deg);
  }
  59% {
    filter: hue-rotate(150deg);
  }
  60% {
    filter: hue-rotate(300deg);
  }
  79% {
    filter: hue-rotate(300deg);
  }
  80% {
    filter: hue-rotate(50deg);
  }
  99% {
    filter: hue-rotate(50deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

@keyframes lights {
  0% {
    filter: hue-rotate(0deg);
  }
  19% {
    filter: hue-rotate(0deg);
  }
  20% {
    filter: hue-rotate(250deg);
  }
  39% {
    filter: hue-rotate(250deg);
  }
  40% {
    filter: hue-rotate(150deg);
  }
  59% {
    filter: hue-rotate(150deg);
  }
  60% {
    filter: hue-rotate(300deg);
  }
  79% {
    filter: hue-rotate(300deg);
  }
  80% {
    filter: hue-rotate(50deg);
  }
  99% {
    filter: hue-rotate(50deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

#contacts {
  overflow: hidden;
  .main-header {
    margin-bottom: 60px;
    &.contacts__header {
      padding-left: 0;
    }
  }
}
.contacts {
  @extend %flex-container;
  flex-wrap: wrap;
  background: $overlay;
  border-radius: 16px;
  padding: 60px 40px;
  color: #fff;
  justify-content: space-between;
  &__wrapper {
    width: 100%;
    @extend %flex-container;
    flex-direction: column;
    align-items: stretch;
    @media screen and (min-width: $phone) {
      flex-direction: row;
    }
    @media screen and (min-width: $tablet) {
      width: calc(70% - 60px);
    }
    // @media screen and (min-width: $desktop) {
    //   width: calc(70% - 100px);
    // }
  }
  &__center {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: stretch;
    margin-bottom: 40px;
    will-change: transform;
    transition: transform $transition;
    &:hover {
      transform: scale(1.2);
    }
    @media screen and (min-width: $phone) {
      width: calc((100% - 40px) / 3);
    }
    &:not(:last-child) {
      margin-right: 20px;
    }
    & > :not(:last-child) {
      margin-bottom: 20px;
    }
    & > :nth-last-child(2) {
      margin-top: auto;
    }
    &-title {
      text-align: center;
      font-size: 12px;
      @media screen and (min-width: $tablet) {
        font-size: 16px;
      }
      @media screen and (min-width: $desktop) {
        font-size: 20px;
      }
    }
    &-contact {
      @extend %anchor;
      height: fit-content;
      width: fit-content;
    }
    &-accent {
      width: 50%;
      height: 1px;
      border-top: 4px dotted $accent;
    }
  }
  &__questions {
    width: 100%;
    @extend %flex-container;
    flex-direction: column;
    @media screen and (min-width: $tablet) {
      width: calc(30% - 20px);
    }
    &-wrapper {
      width: 100%;
    }
  }
  &__header {
    transform: translateX(0);
    text-align: left;
    align-self: flex-start;
  }
  &__answer {
    margin-bottom: 20px;
    &-mail {
      @extend %anchor;
      margin-top: 10px;
    }
  }
  &__question-button {
    @extend %button-main;
    align-self: flex-start;
    font-size: 18px;
    @media screen and (min-width: $tablet) {
      font-size: 20px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 22px;
    }
  }
  &__contacts {
    @extend %flex-container;
    flex-direction: column;
    @media screen and (min-width: 1000px) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
  &__image-wrapper {
    position: relative;
    padding: 20px;
    width: 100%;
    height: 100vw;
    @media screen and (min-width: $tablet) {
      width: 40%;
      height: 40vw;
    }
    @media screen and (min-width: $tablet) {
      width: 47%;
      height: 47vw;
    }
  }
  &__rocket {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    animation: travel 6s ease-in-out infinite;
    @media screen and (min-width: $tablet) {
      width: 40px;
      height: 40px;
    }
    &--port {
      position: absolute;
      right: 0;
      width: 800px;
      height: 100%;
      background-image: url(../img/rocket-thumb.svg), url(../img/jet3.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right, 120px;
      animation: lights 30s linear infinite;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    animation: portal 6s ease-in-out infinite;
    &.abs {
      position: absolute;
      top: 0;
      width: calc(100% - 40px);
      z-index: 1;
    }
    &.lights {
      animation: newRocket 30s linear infinite;
    }
  }
  &__lights-wrapper {
    position: absolute;
    top: 0;
    width: calc(100% - 40px);
    height: 100%;
    z-index: 2;
    animation: portal 6s ease-in-out infinite;
  }
  &__list {
    padding: 0 20px 40px;
  }
  &__list-item {
    color: #fff;
    font-size: 14px;
    @media screen and (min-width: $tablet) {
      font-size: 16px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 18px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    .material-icons {
      margin-right: 20px;
    }
  }
  &__link {
    @extend %anchor;
  }
}
