.main-modal.feedback {
  padding: 55px 20px;
  width: 800px;
  .close-button {
    top: 10px;
    right: 10px;
    color: $main-purple;
  }
}
.feedback {
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    @media screen and (min-width: $phone) {
      flex-direction: row;
    }
  }
  &__formfield {
    width: 100%;
    @media screen and (min-width: $phone) {
      width: calc((100% - 20px) / 2);
    }
    &:first-child {
      margin-right: 20px;
    }
  }
  &__textarea {
    height: auto;
    resize: none;
    padding: 11px;
  }
  .error-wrapper {
    height: 30px;
  }
  &__button {
    @extend %button-main;
    pointer-events: auto;
    padding: 16px 10px;
    height: fit-content;
  }
  &__check {
    pointer-events: auto;
    height: fit-content;
    display: inline-block;
    margin-right: 20px;
    width: auto;
    &-wrapper {
      display: flex;
      justify-content: space-between;
    }
    &-label {
      pointer-events: none;
      display: inline-block;
      max-width: 600px;
      margin: 0;
      margin-right: 20px;
      font-size: 12px;
      @media screen and (min-width: $tablet) {
        font-size: 14px;
      }
    }
  }
}
