.footer {
  margin-top: auto;
  width: 100%;
  position: relative;
  background: black;
  min-height: 200px;
  padding: 40px 0;
  color: $dim;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > :not(:last-child) {
    margin-bottom: 10px;
    width: fit-content;
  }
  @media screen and (min-width: $tablet) {
    min-height: 140px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    & > :not(:last-child) {
      margin-right: 10px;
    }
  }
}
.copyright {
  @extend %flex-container;
  flex-direction: column;
  order: 1;
  @media screen and (min-width: $phone) {
    order: 0;
  }
}
.social {
  @extend %flex-container;
  padding-bottom: 10px;
  &__item {
    width: 44px;
    height: 44px;
    border-radius: 40%;
    padding: 7px;
    transition: transform $transition;
    border-radius: 50%;
    background: center / contain url('../img/planet.png');
    & a {
      filter: opacity(0.8) drop-shadow(2px 2px 2px $main-purple);
      transform: scale(0.8);
      transition: transform $transition 150ms;
    }
    filter: saturate(0.3);
    &:hover,
    &:focus-within {
      &:nth-child(1) {
        filter: hue-rotate(300deg);
        transform: scale(1.5) rotate(10deg);
      }
      &:nth-child(2) {
        filter: hue-rotate(10deg) saturate(1.2);
        transform: scale(1.5) rotate(40deg);
      }
      &:nth-child(3) {
        filter: hue-rotate(280deg) saturate(1.5);
        transform: scale(1.5) rotate(130deg);
      }
      &:nth-child(4) {
        filter: hue-rotate(80deg) saturate(1.5);
        transform: scale(1.5) rotate(70deg);
      }
      &:nth-child(5) {
        filter: hue-rotate(310deg) saturate(1.5);
        transform: scale(1.5) rotate(180deg);
      }
    }
    &:nth-child(1) {
      transform: rotate(10deg);
      & a {
        background-image: url('../img/vk.svg');
        background-size: cover;
        transform: rotate(-10deg);
      }
    }
    &:nth-child(2) {
      transform: rotate(40deg);
      & a {
        background-image: url('../img/inst.svg');
        background-size: cover;
        transform: rotate(-40deg);
      }
    }
    &:nth-child(3) {
      transform: rotate(130deg);
      & a {
        background-image: url('../img/tw.svg');
        background-size: cover;
        transform: rotate(-130deg);
      }
    }
    &:nth-child(4) {
      transform: rotate(70deg);
      & a {
        background-image: url('../img/ok.svg');
        background-size: cover;
        transform: rotate(-70deg);
      }
    }
    &:nth-child(5) {
      transform: rotate(180deg);
      & a {
        background-image: url('../img/fb.svg');
        background-size: cover;
        transform: rotate(-180deg);
      }
    }
    &:not(:last-child) {
      margin-right: 14px;
    }
  }
  &__link {
    display: inline-block;
    line-height: 100%;
    height: 100%;
    width: 100%;
  }
}
.nav-contacts {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    text-align: left;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__link {
    @extend %anchor;
    line-height: 1.4em;
    font-style: normal;
    font-size: 14px;
    transition: color $transition;
    @media screen and (min-width: $tablet) {
      font-size: 16px;
    }
    &:hover {
      color: $accent;
      font-size: $normal;
    }
    .material-icons {
      margin-right: 10px;
      font-size: inherit;
      color: inherit;
    }
  }
}
