.container.header {
  background: $main-purple;
}
.page-header,
.navigation,
.logo,
.navigation__list,
.authorization {
  @extend %flex-container;
}
.nav-wrapper {
  width: 100%;
}
.logo__image {
  fill: #fff;
}
.navigation {
  justify-content: space-between;
  &__list {
    justify-content: space-around;
  }
  &__item {
    @extend %flex-container;
    padding: 10px;
    height: 50px;
    position: relative;
    & .accent {
      position: absolute;
      bottom: 0;
      width: 0;
      will-change: width;
      transition: width $transition;
      height: 4px;
      border-radius: 2px;
    }
  }
  &__rout {
    color: inherit;
    &--hover {
      @extend %anchor;
      position: absolute;
      &[disabled] {
        cursor: text;
      }
      &.coloured ~ .accent {
        background: $accent;
        width: 100%;
      }
    }
  }
}

.authorization {
  justify-content: space-between;
  &__list {
    justify-content: space-around;
  }
  &__item {
    @extend %flex-container;
    height: fit-content;
    padding: 10px;
    &:not(:last-child) {
      @extend %button-main;
    }
  }
}
