#hero_slider {
  width: 100%;
  padding-bottom: 140px;
  @media screen and (min-width: $tablet) {
    padding-bottom: 190px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 240px;
  }
}

.hero-slider {
  &__head {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__listItem {
    display: inline-block;
    font-weight: 900;
    font-size: 42px;
    line-height: 51px;
    margin-right: 43px;
  }

  &__service-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  &__service-listItem {
    border: 1px solid #fff;
    width: 31%;
    margin-right: 2%;
  }

  &__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__image {
    width: 40%;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__text-wrapper {
    width: 50%;
  }

  &__text-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #518ae0;
  }

  &__text {
    margin-top: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #f2f2f2;
  }
}

.hero-slider {
  position: relative;
  height: 570px;
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 60px;
  @media screen and (min-width: $phone) {
    height: 510px;
  }
  @media screen and (min-width: $tablet) {
    height: 530px;
  }
  @extend %flex-container;
  &__content {
    flex-shrink: 0;
    position: relative;
    height: 520px;
    width: 100%;
    border-radius: 16px;
    @media screen and (min-width: $phone) {
      height: 460px;
    }
    @media screen and (min-width: $tablet) {
      height: 480px;
      max-width: 800px;
    }
    @media screen and (min-width: $desktop) {
      height: 480px;
      max-width: 1100px;
    }
    transition: opacity $transition, transform $transition;
    &.disabled {
      opacity: 0;
    }
    &.active {
      opacity: 1;
    }
  }
  .order {
    @extend %flex-container;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    margin-top: 20px;
    position: static;
    background: $dim;
    font-size: 14px;
    font-weight: $normal;
    text-shadow: $text-shade-light;
    opacity: 0;
    transform: translateY(-100px) scale(0.5);
    transition: transform $transition 750ms, opacity $transition 750ms;
    @media screen and (min-width: $tablet) {
      font-size: 16px;
    }
  }
  &__slide {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    will-change: opacity, transform;
    transition: transform $slider, opacity $slider;
    opacity: 0;
    &.left {
      transform: translateX(-100%) scale(0.5);
    }
    &.right {
      transform: translateX(100%) scale(0.5);
    }
    &.left.active,
    &.right.active {
      transform: translateX(0) scale(1);
      opacity: 1;
      .order {
        opacity: 1;
        transform: translateY(-10px);
      }
    }
  }
  &__article {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    &.one {
      background-image: $slider-bg-one, url('../img/one.jpg');
      background-size: cover;
      background-position: center;
    }
    &.two {
      background-image: $slider-bg-two, url('../img/two.jpg');
      background-size: cover;
      background-position: center;
    }
    &.three {
      background-image: $slider-bg-three, url('../img/three.jpg');
      background-size: cover;
      background-position: center;
    }
  }
  &__section-header {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
  }
  &__order-btn {
    margin-top: 15px;
    @extend %button-main;
    width: fit-content;
  }
  &__section-list {
    @extend %flex-container;
    flex-direction: column;
    align-items: flex-start;
    background: $slider-bg-three;
    backdrop-filter: blur(4px);
    // background: $overlay-light;
    border-radius: 10px;
    padding: 10px;
    padding-top: 60px;
    @media screen and (min-width: $tablet) {
      padding: 30px;
      padding-top: 60px;
    }
  }
  &__section-listitem {
    @extend %flex-container;
    line-height: 1em;
    padding: 2px;
    color: $white;
    font-size: 12px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &::before {
      content: '';
      flex-shrink: 0;
      height: 1em;
      width: 1em;
      background: $accent;
      margin-right: 10px;
      display: inline-block;
      border-radius: 50%;
    }
    @media screen and (min-width: $tablet) {
      font-size: 16px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 20px;
    }
  }
  &__article-container {
    padding: 30px 10px 0 10px;
    position: relative;
    @media screen and (min-width: $tablet) {
      padding: 30px 30px 0 60px;
    }
  }
  &__controls {
    position: absolute;
    z-index: 2;
    bottom: -60px;
    right: 0;
    padding: 6px;
    border-radius: 28px;
    background: $overlay-light;
    @extend %flex-container;
    @media screen and (max-width: $tablet - 1) {
      display: none;
    }
    &-button {
      @extend %flex-container;
      position: relative;
      &:not(.aside) {
        background: $accent;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 20px;
        }
        &:not([disabled]) {
          &::before {
            content: '';
            position: absolute;
            height: 42px;
            width: 42px;
            border-radius: 50%;
            will-change: opacity, transform;
            opacity: 1;
            transform: scale(1);
            transition: transform $transition, opacity $transition;
            background: $main-purple;
          }
          &:hover {
            transform: scale(1.1);
            &::before {
              transform: scale(0);
              opacity: 0;
            }
          }
          &:active {
            transform: scale(1.2);
            &::after {
              content: '';
              position: absolute;
              height: 40px;
              width: 40px;
              transform: scale(0.9);
              border-radius: 50%;
              background: $main-purple;
            }
          }
          & .icon {
            font-size: 34px;
            color: $white;
            will-change: opacity, transform;
            transition: transform $transition, opacity $transition;
            &:hover {
              transform: scale(1.5);
              opacity: 0.8;
            }
          }
        }
        &[disabled] {
          background: $dim;
          cursor: inherit;
        }
      }
      &.aside {
        pointer-events: none;
        @media screen and (min-width: $desktop) {
          transform: scaleY(8);
          pointer-events: auto;
        }
        opacity: 0;
        transition: transform $transition, opacity $transition;
        &:active {
          @media screen and (min-width: $tablet) {
            filter: brightness(0.8);
            transform: scaleY(0.5);
          }
        }
      }
    }
    &-aside {
      position: relative;
      z-index: 1;
      height: 100%;
      width: 100%;
      // display: none;
      @extend %flex-container;
      @media screen and (min-width: $desktop) {
        display: flex;
      }
      & .icon {
        pointer-events: none;
        font-size: 64px;
        color: $white;
        will-change: opacity, transform;
        transition: transform $transition, opacity $transition;
      }
      &:hover {
        @media screen and (min-width: $desktop) {
          .aside:not([disabled]) {
            opacity: 0.5;
            transform: scale(3, 8);
            cursor: pointer;
          }
        }
        .icon {
          transform: scale(1.5);
          opacity: 0.8;
        }
      }
    }
  }
  &__indicators {
    position: absolute;
    bottom: 0px;
    right: 50%;
    transform: translateX(50%);
    padding: 6px;
    border-radius: 11px;
    background: $overlay-light;
    @extend %flex-container;
  }
  &__indicator {
    background: $main-purple;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    will-change: height;
    transition: height $transition, background $transition;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &.active {
      background: $accent;
      height: 20px;
    }
  }
  &__service-link {
    position: relative;
    color: transparent;
    background-image: linear-gradient(
      to right,
      #53bdf1 50%,
      #53bdf1 50%,
      rgb(176, 73, 255) 95%,
      transparent
    );
    background-size: 0px;
    background-repeat: no-repeat;
    transition: background-size $transition, color $transition;
    background-clip: text;
    &.active {
      & ~ .hero-slider__svg {
        & > text {
          stroke: transparent;
        }
      }
    }
    &.active {
      background-size: 200%;
      transition: background-size $slider;
    }
  }
  &__svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    & > text {
      stroke: $stroke-grey;
      transition: stroke $transition;
    }
  }
}
