#hero_slider {
  width: 100%;
  padding: 100px 0;
  @media screen and (min-width: $tablet) {
    padding: 140px 0;
  }
  @media screen and (min-width: $desktop) {
    padding: 180px 0;
  }
}
tspan {
  white-space: normal;
}
.hero-slider {
  position: relative;
  margin: 0 auto;
  @extend %flex-container;
  &__head {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 80px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 100px;
      flex-direction: row;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 120px;
    }
  }

  &__listItem {
    display: inline-block;
    font-weight: 900;
    font-size: 26px;
    @media screen and (min-width: $tablet) {
      font-size: 34px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 42px;
    }
    margin-right: 43px;
  }

  &__service-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__service-listItem {
    width: calc((100% - 40px) / 3);
    &:not(:last-child) {
      margin-right: 20px;
    }
    @media screen and (min-width: $tablet) {
      width: calc((100% - 80px) / 3);
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
    @media screen and (min-width: $desktop) {
      width: calc((100% - 160px) / 3);
      &:not(:last-child) {
        margin-right: 80px;
      }
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    @media screen and (min-width: $desktop) {
      flex-direction: row;
    }
  }

  &__image {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    pointer-events: none;
    margin-bottom: 30px;
    height: 100px;
    @media screen and (min-width: $desktop) {
      margin-bottom: 0;
      margin-right: 30px;
      width: calc(40% - 30px);
      height: auto;
    }
  }

  &__text-wrapper {
    width: 100%;
    pointer-events: none;
    @media screen and (min-width: $desktop) {
      width: calc(60% - 30px);
    }
  }

  &__text-title {
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2em;
    color: #518ae0;
    pointer-events: none;
    @media screen and (min-width: $tablet) {
      font-size: 22px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 24px;
    }
  }

  &__text {
    margin-top: 20px;
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    color: #f2f2f2;
    pointer-events: none;
    @media screen and (min-width: $tablet) {
      font-size: 14px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 16px;
    }
  }
  &__content {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    height: 550px;
    @media screen and (min-width: $tablet) {
      height: 350px;
    }
    @media screen and (min-width: $desktop) {
      height: 250px;
    }
    transition: opacity $transition, transform $transition;
    &.disabled {
      opacity: 0;
    }
    &.active {
      opacity: 1;
    }
  }
  .order {
    @extend %flex-container;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    margin-top: 20px;
    position: static;
    background: $dim;
    font-size: 14px;
    font-weight: $normal;
    text-shadow: $text-shade-light;
    opacity: 0;
    transform: translateY(-100px) scale(0.5);
    transition: transform $transition 750ms, opacity $transition 750ms;
    @media screen and (min-width: $tablet) {
      font-size: 16px;
    }
  }
  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: opacity, transform;
    transition: transform $slider, opacity $slider;
    opacity: 0;
    &.left {
      transform: scale(0.2) translateX(-400%);
    }
    &.right {
      transform: scale(0.2) translateX(400%);
    }
    &.left.active,
    &.right.active {
      transform: translateX(0) scale(1);
      opacity: 1;
      .order {
        opacity: 1;
        transform: translateY(-10px);
      }
    }
  }
  &__article {
    width: 100%;
    height: 100%;
  }
  &__section-header {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
  }
  &__order-btn {
    margin-top: 15px;
    @extend %button-main;
    width: fit-content;
  }
  &__section-list {
    @extend %flex-container;
    flex-direction: column;
    align-items: flex-start;
    background: $slider-bg-three;
    backdrop-filter: blur(4px);
    // background: $overlay-light;
    padding: 10px;
    padding-top: 60px;
    @media screen and (min-width: $tablet) {
      padding: 30px;
      padding-top: 60px;
    }
  }
  &__controls {
    position: absolute;
    z-index: 2;
    bottom: -60px;
    right: 0;
    padding: 6px;
    border-radius: 28px;
    @extend %flex-container;
    @media screen and (max-width: $tablet - 1) {
      display: none;
    }
    &-button {
      @extend %flex-container;
      position: relative;
      &:not(.aside) {
        background: $accent;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        &:not(:last-child) {
          margin-right: 20px;
        }
        &:not([disabled]) {
          &::before {
            pointer-events: none;
            content: '';
            position: absolute;
            height: 42px;
            width: 42px;
            border-radius: 50%;
            will-change: opacity, transform;
            opacity: 1;
            transform: scale(1);
            transition: transform $transition, opacity $transition;
            background: $main-purple;
          }
          &:hover {
            transform: scale(1.1);
            &::before {
              transform: scale(0);
              opacity: 0;
            }
          }
          &:active {
            transform: scale(1.2);
            &::after {
              content: '';
              pointer-events: none;
              position: absolute;
              height: 40px;
              width: 40px;
              transform: scale(0.9);
              border-radius: 50%;
              background: $main-purple;
            }
          }
          & .icon {
            pointer-events: none;
            font-size: 34px;
            color: $white;
            will-change: opacity, transform;
            transition: transform $transition, opacity $transition;
            &:hover {
              transform: scale(1.5);
              opacity: 0.8;
            }
          }
        }
        &[disabled] {
          background: $dim;
        }
      }
      &.aside {
        pointer-events: none;
        @media screen and (min-width: $desktop) {
          transform: scaleY(8);
          pointer-events: auto;
        }
        opacity: 0;
        transition: transform $transition, opacity $transition;
        &:active {
          @media screen and (min-width: $tablet) {
            filter: brightness(0.8);
            transform: scaleY(0.5);
          }
        }
      }
    }
    &-aside {
      position: relative;
      z-index: 1;
      height: 100%;
      width: 100%;
      // display: none;
      @extend %flex-container;
      @media screen and (min-width: $desktop) {
        display: flex;
      }
      & .icon {
        pointer-events: none;
        font-size: 64px;
        color: $white;
        will-change: opacity, transform;
        transition: transform $transition, opacity $transition;
      }
      &:hover {
        @media screen and (min-width: $desktop) {
          .aside:not([disabled]) {
            opacity: 0.5;
            transform: scale(3, 8);
          }
        }
        .icon {
          transform: scale(1.5);
          opacity: 0.8;
        }
      }
    }
  }
  &__indicators {
    position: absolute;
    bottom: 0px;
    right: 50%;
    transform: translate(50%, 100%);
    padding: 6px;
    @extend %flex-container;
  }
  &__indicator {
    background: $accent;
    opacity: 0.4;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    will-change: height, opacity;
    transition: height $transition, opacity $transition;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &.active {
      background: $accent;
      height: 20px;
      opacity: 1;
    }
  }
  &__service-link {
    position: relative;
    color: transparent;
    background-image: linear-gradient(
      to right,
      #53bdf1 50%,
      #53bdf1 50%,
      rgb(176, 73, 255) 95%,
      transparent
    );
    background-size: 0px;
    background-repeat: no-repeat;
    transition: background-size $transition, color $transition;
    background-clip: text;
    &.active {
      & ~ .hero-slider__svg {
        & > text {
          stroke: transparent;
        }
      }
    }
    &.active {
      background-size: 200%;
      transition: background-size $slider;
    }
  }
  &__svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    & > text {
      stroke: $stroke-grey;
      transition: stroke $transition;
    }
  }
}
