.nav {
  position: fixed;
  z-index: 10;
}
.nav.container {
  transform: translateY(-30px);
  transition: transform 500ms ease-in-out;
  &.present {
    transform: translateY(0);
    transition: transform 500ms ease-in-out;
  }
}
.nav-bar {
  border: 1px solid $main-purple;
  border-top: none;
  border-radius: 0 0 16px 16px;
  overflow: hidden;
  padding: 10px 20px;
  background-color: #fff;
  width: fit-content;
  &__item {
    display: inline-block;
    padding-left: 10px;
    opacity: 1;
    transition: transform $transition, opacity $transition;
    font-weight: $bold;
    & .material-icons {
      font-size: 14px;
      margin-right: 4px;
    }
  }
  &__item:last-child {
    transform: translateX(-20px);
    opacity: 0;
    transition: transform 1000ms $transition, opacity 1000ms $transition;
    font-weight: $normal;
  }
  &__item.current {
    transform: translateX(0px);
    opacity: 0.8;
  }
  &__link {
    transition: color $transition;
    cursor: text;
    &:hover:not([disabled]) {
      color: $accent;
      cursor: pointer;
    }
  }
}
