#partners {
  .main-header {
    margin-bottom: 50px;
  }
}
.partners {
  &-flex {
    border-radius: 16px;
    box-shadow: $shade;
    @extend %flex-container;
    flex-direction: column;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
  &__image-wrapper {
    // overflow: hidden;
    @extend %flex-container;
    padding: 20px;
    width: 100%;
    transition: transform 2s $transition;
    transform: scale(0.55);
    height: 300px;
    @media screen and (min-width: $phone) {
      height: 400px;
      transform: scale(0.75);
    }
    @media screen and (min-width: $tablet) {
      height: auto;
      padding: 20px 0px 20px 120px;
    }
    @media screen and (min-width: $desktop) {
      padding: 20px 0px 20px 150px;
      transform: scale(1.2);
    }
    .globe {
      &-container {
        transform: rotate(20deg);
        margin: 0;
        padding: 60px;
        width: 440px;
        height: 440px;
        @extend %flex-container;
        opacity: 1;
        animation: planet 8s linear infinite;
      }
    }
  }
  &__rocket {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 60px;
    height: 60px;
    background: url('../img/rocket logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: flyWith 8s linear infinite;
    &.secondary {
      filter: hue-rotate(100deg);
      top: 60px;
      animation: flyBy 8s linear infinite;
    }

    &-wrapper {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      animation: ourRocket 8s linear infinite;
      &.inner {
        animation: otherRocket 8s linear infinite;
      }
    }
  }
  &__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: invert(1) drop-shadow(0px 0px 1px #ff6b09);
  }
  &__story {
    padding: 40px;
    padding-top: 50px;
    width: 100%;
    @media screen and (min-width: $tablet) {
      width: calc((100% - 20px) / 2);
      margin-right: 80px;
    }
  }
  &__text {
    color: $white;
    font-size: 18px;
    font-weight: $light;
    margin-bottom: 20px;
    line-height: 1.3em;
    @media screen and (min-width: $tablet) {
      font-size: 20px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 22px;
    }
  }
  &__mail {
    @extend %anchor;
    display: inline-block;
    width: auto;
  }
  &__button {
    @extend %button-main;
    width: fit-content;
    font-size: 18px;
    @media screen and (min-width: $tablet) {
      font-size: 20px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 22px;
    }
  }
  &__bg {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 80px 0 0px;
    @media screen and (min-width: $tablet) {
      order: 2;
      width: calc((100% - 20px) / 2);
      padding: 40px 0;
    }
  }
  &__indicators {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
    height: 120px;
    padding: 4px;
    background: $overlay-light;
    border-radius: 16px;
    &-list {
      background: $overlay;
      border-radius: 12px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    &-listitem {
      display: flex;
      justify-content: space-between;
      height: 50%;
      color: white;
      font-size: 12px;
      padding: 10px;
    }
    &-title {
      margin-right: 10px;
    }
    &-wrapper {
      position: relative;
      width: 40px;
      border-radius: 8px;
      overflow: hidden;
      height: 100%;
    }
    &-measure {
      position: absolute;
      z-index: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 6px;
      &.energy {
        animation: energy 8s linear infinite;
      }
      &.fuel {
        animation: fuel 8s linear infinite;
      }
    }
    &-value {
      position: absolute;
      z-index: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 6px;
      &.energy {
        background: center/ cover url('../img/energy.svg') no-repeat;
      }
      &.fuel {
        background: center/ cover url('../img/fuel.svg') no-repeat;
      }
    }
  }
}

@keyframes energy {
  0% {
    width: 100%;
    background-color: yellow;
  }
  10% {
    width: 0%;
    background-color: red;
  }
  15% {
    width: 40%;
    background-color: red;
  }
  20% {
    width: 0%;
    background-color: red;
  }
  25% {
    width: 40%;
    background-color: red;
  }
  30% {
    width: 0%;
    background-color: red;
  }
  35% {
    width: 40%;
    background-color: red;
  }
  40% {
    width: 20%;
    background-color: red;
  }
  70% {
    width: 20%;
    background-color: red;
  }
  80% {
    width: 80%;
    background-color: orange;
  }
  85% {
    width: 90%;
    background-color: rgb(255, 208, 0);
  }
  95% {
    width: 100%;
    background-color: yellow;
  }
  100% {
    width: 100%;
    background-color: yellow;
  }
}

@keyframes fuel {
  0% {
    width: 100%;
    background-color: yellow;
  }
  10% {
    width: 0%;
    background-color: red;
  }
  15% {
    width: 40%;
    background-color: red;
  }
  20% {
    width: 0%;
    background-color: red;
  }
  25% {
    width: 40%;
    background-color: red;
  }
  30% {
    width: 0%;
    background-color: red;
  }
  35% {
    width: 40%;
    background-color: red;
  }
  40% {
    width: 20%;
    background-color: red;
  }
  64% {
    width: 20%;
    background-color: red;
  }
  70% {
    width: 80%;
    background-color: orange;
  }
  85% {
    width: 100%;
    background-color: yellow;
  }
  100% {
    width: 100%;
    background-color: yellow;
  }
}

@keyframes ourRocket {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes otherRocket {
  0% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(10deg);
  }
  95% {
    transform: rotate(1turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes flyBy {
  0% {
    transform: translate(-400px, 100px);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  56% {
    transform: translate(-200px, 0px);
    opacity: 1;
  }
  64% {
    transform: scale(1) translate(0);
    opacity: 1;
  }
  74% {
    transform: scale(1) translate(0, -18px);
    filter: none;
  }
  80% {
    transform: scale(1.4) translate(0, -20px);
    filter: drop-shadow(0 0 16px $accent) brightness(2);
    opacity: 1;
  }
  95% {
    transform: scale(1.4) translate(0, -40px);
    filter: drop-shadow(0 0 16px $accent) brightness(2);
    opacity: 1;
  }
  100% {
    transform: scale(5, 1.4) translate(1000px, 200px);
    opacity: 0;
  }
}

@keyframes flyWith {
  0% {
    filter: hue-rotate(100deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  74% {
    transform: scale(1) translate(0);
    filter: hue-rotate(100deg);
  }
  80% {
    transform: scale(1.4) translate(0);
    filter: hue-rotate(100deg) drop-shadow(0 0 16px $accent) brightness(2);
  }
  95% {
    transform: scale(1.4) translate(0, -40px);
    filter: hue-rotate(100deg) drop-shadow(0 0 16px $accent) brightness(2);
    opacity: 1;
  }
  100% {
    transform: scale(5, 1.4) translate(1000px, 200px);
    opacity: 0;
  }
}

@keyframes planet {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  10% {
    transform: scale(1);
    opacity: 1;
  }
  98% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.3);
    opacity: 0;
  }
}
