.preloader-backdrop {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  @extend %flex-container;
}
.cardset__overlay .preloader-backdrop {
  position: absolute;
  top: -30px;
  right: 0;
  left: 0;
  background: $overlay;
  z-index: 1;
}
.preloader-planet {
  @extend %flex-container;
  width: 50%;
  height: 50%;
}
.preloader {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 50%;
  width: 60px;
  height: 60px;
  background-image: url('../img/rocket logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: preLoaderMob 3s ease-in infinite;
  @media screen and (min-width: $tablet) {
    width: 110px;
    height: 110px;
    animation: preLoader 3s ease-in infinite;
  }
  @media screen and (min-width: $desktop) {
    transform: rotate(180deg);
    width: 60px;
    height: 60px;
  }
}

@keyframes preLoader {
  0% {
    transform: scale(0.4) translateX(1000px) rotate(180deg);
  }
  30% {
    transform: scale(2) translateX(100px) rotate(180deg);
  }
  60% {
    transform: scale(2) translateX(-100px) rotate(200deg);
  }
  100% {
    transform: scale(2) translate(-1000px, -400px) rotate(200deg);
  }
}

// @keyframes preLoader {
//   0% {
//     opacity: (0);
//     transform: scale(-1) translate(-1000px, -300px) rotate(30deg);
//   }
//   30% {
//     opacity: (1);
//   }
//   70% {
//     opacity: (1);
//   }
//   100% {
//     opacity: (0);
//     transform: scale(-1) translate(1000px, 300px) rotate(30deg);
//   }
// }
@keyframes preLoaderMob {
  0% {
    opacity: (0);
    transform: scale(-1) translate(-300px, -100px) rotate(30deg);
  }
  30% {
    opacity: (1);
  }
  70% {
    opacity: (1);
  }
  100% {
    opacity: (0);
    transform: scale(-1) translate(300px, 100px) rotate(30deg);
  }
}
@keyframes Faiding {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(2) translate(-100px, -100px);
  }
}

.faiding {
  animation: Faiding 2s cubic-bezier(1, 1, 0, 1) forwards;
}
.bdCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #050818;
  background-image: -o-radial-gradient(at bottom, #090f2d, #050818);
  background-image: radial-gradient(at bottom, #090f2d, #050818);
}
.bdCanvas--pages {
  width: 100%;
  height: 100%;
  background-color: #050818;
  background-image: -o-radial-gradient(at bottom, #090f2d, #050818);
  background-image: radial-gradient(at bottom, #090f2d, #050818);
}

.globe-container,
.globe {
  width: 200px;
  height: 200px;
}
.globe-container {
  position: relative;
  display: inline-block;
  margin: 30px;
  transform: scale(1.1) rotate(21deg);
  @media screen and (min-width: $tablet) {
    transform: scale(1.5);
  }
}
.globe {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 60px rgba(33, 150, 243, 0.5);
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(21deg);
}
.globe-worldmap,
.globe-worldmap-front,
.globe-worldmap-back,
.globe-sphere,
.globe-outer-shadow,
.globe-inner-shadow {
  position: absolute;
  display: block;
  margin: 0;
}
.globe-sphere,
.globe-outer-shadow,
.globe-inner-shadow {
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.globe-worldmap {
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.globe-worldmap-front,
.globe-worldmap-back {
  left: 0;
  top: 0;
  width: 1000px;
  height: 200px;
  // overflow: visible;
  background-image: url('../img/worldmap-4.svg');
  background-repeat: no-repeat;
}
.partners__image-wrapper .globe-worldmap-front {
  background-image: url('../img/bluemoon1.jpg');
  filter: hue-rotate(100deg);
  background-repeat: no-repeat;
}
.partners__image-wrapper .globe-worldmap {
  filter: saturate(3);
}
.globe-outer-shadow {
  left: 0;
  top: 186px;
  width: 200px;
  height: 30px;
  background-image: url('../img/outer_shadow.svg');
}
.globe-inner-shadow {
  background-image: url('../img/inner_shadow-2.svg');
  width: 100%;
  height: 100%;
  background-size: contain;
}

.globe-worldmap-front {
  background-position: 0px 0px;
  animation: textureSpinreverse 8s linear infinite;
  &.static {
    animation: textureSpinreverse 2s ease-out forwards;
  }
}
.globe-worldmap-back {
  background-position: 0px -220px;
  animation: textureSpin 8s linear infinite;
  &.static {
    animation: textureSpin 2s ease-out forwards;
  }
}
.partners__image-wrapper {
  .globe-worldmap-front.static {
    animation: textureSpinreversePartners 8s ease-out infinite;
  }
}

@keyframes textureSpin {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-47.5%);
  }
}
@keyframes textureSpinreverse {
  from {
    transform: translateX(-47.5%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes textureSpinreversePartners {
  0% {
    transform: translateX(-47.5%);
  }
  20% {
    transform: translateX(0);
  }
}
