#timer2 {
  color: #fff;
  flex-wrap: wrap;
  // @media screen and (min-width: $phone) {
  //   flex-wrap: nowrap;
  // }
  .field {
    margin-bottom: 10px;
  }
  .label {
    background: none;
    color: rgb(171, 178, 199);
  }
}
#services {
  color: #fff;
  .cardset__pic {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: center center;
    filter: grayscale(100%);
    transform: scale(0.8);
  }
}
.services {
  &__table {
    @extend %flex-container;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 auto;
    height: 100%;
    will-change: width;
    transition: width 0.7s ease-out 0.7s;
  }
  &__aside {
    position: sticky;
    top: 50px;
    width: 100px;
    flex-shrink: 0;
    height: fit-content;

    @media screen and (min-width: $phone) {
      width: 200px;
    }
    @media screen and (min-width: $tablet) {
      top: 100px;
      width: 300px;
    }
    @media screen and (min-width: $desktop) {
      width: 400px;
    }
  }
  &__spark {
    width: 10px;
    height: 100%;
    position: relative;
    right: -6px;
    z-index: 10;
    backdrop-filter: brightness(5) blur(6px);
  }
  &__tabs {
    height: 100%;
  }
  &__tab-item {
    position: relative;
    height: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: $blackfont;
    @media (min-width: $phone) {
      font-size: 18px;
    }
    @media screen and (min-width: $tablet) {
      font-size: 28px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 42px;
    }
    @extend %flex-container;
    justify-content: flex-start;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__main {
    @extend %flex-container;
    width: 100%;
    min-height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 0 16px 16px 0;
    will-change: height;
    transition: height 0.7s ease-out;
  }
  &__tab-list {
    position: absolute;
    z-index: 0;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 10px 0 0 10px;
    @media screen and (min-width: $tablet) {
      padding: 40px 0 0 40px;
    }
    @media screen and (min-width: $desktop) {
      padding: 70px 0 0 70px;
    }
    color: $overlay;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @include Cardset-Responsive(0, 20px, 10px, 1);
    @include Cardset-Responsive($tablet, 50px, 25px, 2);
    @include Cardset-Responsive($desktop, 70px, 40px, 2);
    transform: translateX(-1400px);
    will-change: opacity, transform;
    transition: opacity 2s ease-out, transform 2s ease-out;
    &.active {
      z-index: 1;
      width: 100%;
      opacity: 1;
      transform: translateX(0);
      will-change: transform, opacity;
      transition: opacity 2s ease-out, transform 2s ease-out;
    }
  }
  &__service-link {
    position: relative;
    color: transparent;
    width: 100%;
    text-align: right;
    background-image: linear-gradient(
      to right,
      #53bdf1 50%,
      #53bdf1 50%,
      rgb(176, 73, 255) 95%,
      transparent
    );
    background-size: 0px;
    background-repeat: no-repeat;
    will-change: background-size, color;
    transition: background-size 1s ease-in-out;
    background-clip: text;

    &.active {
      background-size: 200%;
      will-change: background-size;
      transition: background-size 1s ease-in-out;
      & ~ .services__svg {
        text {
          stroke: transparent;
        }
      }
    }
  }
  &__svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  &__svgtext {
    stroke: $accent;
    will-change: stroke;
    transition: stroke $transition 500ms;
    tspan {
      white-space: normal;
    }
  }
  &__card {
    position: relative;
    height: fit-content;
    @extend %flex-container;
    flex-direction: column;
    @media screen and (min-width: 600px) {
      flex-direction: row;
    }
    &:hover {
      .services__image {
        transform: translateY(-10px);
        filter: drop-shadow(2px 14px 4px $accent);
      }
      .services__description {
        color: #fff;
      }
    }
  }

  &__link {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__image {
    pointer-events: none;
    width: 100%;
    height: 100px;
    @media screen and (min-width: $tablet) {
      height: 150px;
    }
    @media screen and (min-width: $desktop) {
      height: 200px;
    }
    position: relative;
    z-index: 1;
    background-size: contain;
    will-change: transform, filter;
    transition: transform $transition, filter $transition;
    background-repeat: no-repeat;
    filter: drop-shadow(2px 2px 4px $main-purple);
  }
  &__story {
    pointer-events: none;
    position: relative;
    z-index: 1;
    width: 100%;
    // @media screen and (min-width: 600px) {
    //   width: 60%;
    // }
    display: flex;
    height: 100%;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &__title {
    pointer-events: none;
    font-size: 14px;
    line-height: 1.3em;
    @media screen and (min-width: $tablet) {
      font-size: 20px;
    }
    @media screen and (min-width: $tablet) {
      font-size: 24px;
    }
    color: #518ae0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
  }
  &__description {
    pointer-events: none;
    margin-bottom: auto;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.4em;
    @media screen and (min-width: $tablet) {
      font-size: 14px;
    }
    @media screen and (min-width: $tablet) {
      font-size: 16px;
    }
    color: #f2f2f2;
  }
}
