#statistics {
  padding-top: 60px;
  @media screen and (min-width: $tablet) {
    padding-top: 110px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 140px;
  }
  position: relative;
}
@keyframes wave {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(-100%) rotate(-45deg);
    opacity: 0;
  }
}
@keyframes wave-two {
  0% {
    opacity: 0;
    height: 20px;
  }
  20% {
    height: 20px;
  }
  40% {
    height: 400px;
  }
  50% {
    opacity: 1;
  }
  80% {
    height: 20px;
  }
  100% {
    transform: translateX(-100%) rotate(-45deg);
    opacity: 0;
  }
}
@keyframes spark {
  0% {
    top: 300px;
  }
  10% {
    top: 400px;
  }
  20% {
    top: 300px;
  }
  30% {
    top: 400px;
  }
  40% {
    top: 500px;
  }
  100% {
    top: 700px;
  }
}
.wave {
  height: 240px;
  width: 100%;
  background-image: url('../img/bg-wave.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: $tablet) {
    height: 340px;
  }
  @media screen and (min-width: $desktop) {
    height: 440px;
  }
  position: absolute;
  top: 0;
  transform: translateY(-60%);
  opacity: 0.99;
  overflow: hidden;

  &__spark {
    position: absolute;
    border-radius: 30px;
    right: -100%;
    width: 200%;
    height: 20px;
    display: flex;
    justify-content: center;
    // background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: opacity(0.9) brightness(2);
    background-clip: text;
    transform: translateX(0) rotate(-45deg);
    animation: wave 8s $transition infinite;
    &--accent {
      position: absolute;
      right: 60%;
      top: -40px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: radial-gradient(
        rgba(255, 255, 174, 0.592),
        4%,
        transparent 50%,
        transparent
      );
    }
  }
  &__spark.two {
    height: 10px;
    backdrop-filter: opacity(0.7) brightness(1);
    animation: wave-two 8s $transition infinite;
  }
}
.statistics {
  @extend %flex-container;
  flex-direction: column;
  &__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    & > :first-child {
      margin-bottom: 10px;
    }
    @media screen and (min-width: $tablet) {
      max-width: 840px;
      padding: 0 25px;
      & > :first-child {
        margin-bottom: 0px;
      }
    }
    @media screen and (min-width: $desktop) {
      max-width: 1100px;
    }
    @extend %flex-container;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
    }
  }
  &__list {
    padding: 20px;
    padding-right: 40px;
    border-radius: 16px;
    margin-right: 40px;
  }
  &__listitem {
    height: 2em;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    transform: translateX(20px);
    opacity: 0.6;
    transition: transform 100ms ease-out, opacity 100ms ease-out;
    font-size: 10px;
    @media screen and (min-width: $phone) {
      font-size: 12px;
    }
    @media screen and (min-width: $tablet) {
      font-size: 16px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 24px;
    }
    &:nth-child(2) {
      transition-delay: 100ms, 100ms;
    }
    &:nth-child(3) {
      transition-delay: 200ms, 200ms;
    }
    &:nth-child(4) {
      transition-delay: 300ms, 300ms;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__value {
    display: inline-block;
    @extend %button;
    transition: border-color 100ms ease-out;
    margin-right: 10px;
    width: 70px;
    &:nth-child(2) {
      transition-delay: 100ms;
    }
    &:nth-child(3) {
      transition-delay: 200ms;
    }
    &:nth-child(4) {
      transition-delay: 300ms;
    }
  }
  &__name {
    @extend %anchor;
    transition: font-weight 100ms ease-out, text-shadow 100ms ease-out;
    &:nth-child(2) {
      transition-delay: 100ms, 100ms;
    }
    &:nth-child(3) {
      transition-delay: 200ms, 100ms;
    }
    &:nth-child(4) {
      transition-delay: 300ms, 300ms;
    }
    &:hover {
      font-weight: $normal;
    }
  }
  &__circle {
    background-image: url('../img/speed2.svg');
    background-size: cover;
    padding: 50px;
  }
}

#statistics.hover {
  .statistics__listitem {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    &:nth-child(2) {
      transition-delay: 0.5s, 0.5s;
    }
    &:nth-child(3) {
      transition-delay: 1s, 1s;
    }
    &:nth-child(4) {
      transition-delay: 1.5s, 1.5s;
    }
    transform: translateX(0);
    opacity: 1;
    .statistics__value {
      border-color: $accent;
      transition: border-color 0.5s ease-out;
      &:nth-child(2) {
        transition-delay: 0.5s;
      }
      &:nth-child(3) {
        transition-delay: 1s;
      }
      &:nth-child(4) {
        transition-delay: 1.5s;
      }
    }
    .statistics__name {
      transition: font-weight 0.5s ease-out, text-shadow 0.5s ease-out;
      font-weight: $bold;
      text-shadow: 0 0 14px rgba(255, 255, 255, 0.8);
      &:nth-child(2) {
        transition-delay: 0.5s, 0.5s;
      }
      &:nth-child(3) {
        transition-delay: 1s, 1s;
      }
      &:nth-child(4) {
        transition-delay: 1.5s, 1.5s;
      }
    }
  }
}
