#statistics {
  .content-title {
    @media screen and (max-width: $phone - 1) {
      font-size: 26px;
    }
  }
}

@keyframes wave {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(-100%) rotate(-45deg);
    opacity: 0;
  }
}
@keyframes wave-two {
  0% {
    opacity: 0;
    height: 20px;
  }
  20% {
    height: 20px;
  }
  40% {
    height: 400px;
  }
  50% {
    opacity: 1;
  }
  80% {
    height: 20px;
  }
  100% {
    transform: translateX(-100%) rotate(-45deg);
    opacity: 0;
  }
}
@keyframes spark {
  0% {
    top: 300px;
  }
  10% {
    top: 400px;
  }
  20% {
    top: 300px;
  }
  30% {
    top: 400px;
  }
  40% {
    top: 500px;
  }
  100% {
    top: 700px;
  }
}
.statistics {
  @extend %flex-container;
  flex-direction: column;
  &__wrapper {
    width: 100%;
    @extend %flex-container;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
    }
  }
  &__subtitle-circle {
    width: 100%;
    @media screen and (min-width: $tablet) {
      width: 40%;
    }
  }

  &__list {
    width: 100%;
    margin-top: 30px;
    @media screen and (min-width: $tablet) {
      width: 55%;
      margin-top: 0px;
    }
  }
  &__listitem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #4f4f4f;
    height: 80px;
    @media screen and (min-width: $tablet) {
      height: 120px;
    }
    @media screen and (min-width: $desktop) {
      height: 160px;
    }
    &:first-of-type {
      padding-top: 0px;
    }
    &:last-of-type {
      border: none;
      padding-bottom: 0px;
    }
  }
  &__value {
    flex-shrink: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    font-weight: $blackfont;
    font-size: 32px;
    @media screen and (min-width: $tablet) {
      width: 180px;
      font-size: 64px;
      margin-right: 30px;
    }
    @media screen and (min-width: $desktop) {
      width: 250px;
      font-size: 96px;
      margin-right: 46px;
    }
    text-transform: uppercase;
  }
  &__name {
    width: 100%;
    color: #f2f2f2;
    font-weight: $light;
    font-size: 16px;
    line-height: 19px;
  }
  &__circle {
    margin-top: 50px;
  }
}
