@keyframes wave {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(-100%) rotate(-45deg);
    opacity: 0;
  }
}
@keyframes wave-two {
  0% {
    opacity: 0;
    height: 20px;
  }
  20% {
    height: 20px;
  }
  40% {
    height: 400px;
  }
  50% {
    opacity: 1;
  }
  80% {
    height: 20px;
  }
  100% {
    transform: translateX(-100%) rotate(-45deg);
    opacity: 0;
  }
}
@keyframes spark {
  0% {
    top: 300px;
  }
  10% {
    top: 400px;
  }
  20% {
    top: 300px;
  }
  30% {
    top: 400px;
  }
  40% {
    top: 500px;
  }
  100% {
    top: 700px;
  }
}
.wave {
  height: 240px;
  width: 100%;
  background-image: url('../img/bg-wave.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: $tablet) {
    height: 340px;
  }
  @media screen and (min-width: $desktop) {
    height: 440px;
  }
  position: absolute;
  top: 0;
  transform: translateY(-60%);
  opacity: 0.99;
  overflow: hidden;

  &__spark {
    position: absolute;
    border-radius: 30px;
    right: -100%;
    width: 200%;
    height: 20px;
    display: flex;
    justify-content: center;
    // background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: opacity(0.9) brightness(2);
    background-clip: text;
    transform: translateX(0) rotate(-45deg);
    animation: wave 8s $transition infinite;
    &--accent {
      position: absolute;
      right: 60%;
      top: -40px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: radial-gradient(
        rgba(255, 255, 174, 0.592),
        4%,
        transparent 50%,
        transparent
      );
    }
  }
  &__spark.two {
    height: 10px;
    backdrop-filter: opacity(0.7) brightness(1);
    animation: wave-two 8s $transition infinite;
  }
}
.statistics {
  @extend %flex-container;
  flex-direction: column;
  &__wrapper {
    width: 100%;
    @extend %flex-container;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0px;
    }

    @extend %flex-container;
    flex-direction: column;
    justify-content: space-between;
  }
  &__subtitle-circle {
    width: 100%;
    @media screen and (min-width: $tablet) {
      width: 40%;
    }
  }

  &__list {
    width: 100%;
    margin-top: 30px;
    @media screen and (min-width: $tablet) {
      width: 55%;
      margin-top: 0px;
    }
  }
  &__listitem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #4f4f4f;
    height: 80px;
    @media screen and (min-width: $tablet) {
      height: 120px;
    }
    @media screen and (min-width: $desktop) {
      height: 160px;
    }
    &:first-of-type {
      padding-top: 0px;
    }
    &:last-of-type {
      border: none;
      padding-bottom: 0px;
    }
  }
  &__value {
    flex-shrink: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    font-weight: $blackfont;
    font-size: 32px;
    @media screen and (min-width: $tablet) {
      width: 180px;
      font-size: 64px;
      margin-right: 30px;
    }
    @media screen and (min-width: $desktop) {
      width: 250px;
      font-size: 96px;
      margin-right: 46px;
    }
    text-transform: uppercase;
  }
  &__name {
    width: 100%;
    color: #f2f2f2;
    font-weight: $light;
    font-size: 16px;
    line-height: 19px;
  }
  &__circle {
    margin-top: 50px;
  }
}
