.new-year-timer {
  text-align: center;
  padding: 20px;
  transform: scale(0.6);
  @media screen and (min-width: $desktop) {
    transform: scale(0.8);
  }
}
.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 300px;
  margin: 20px auto 0;
  padding: 10px;
  .field {
    border-radius: 6px;
    height: 100%;
    position: relative;
    // &:not(:last-child) {
    //   margin-right: 10px;
    // }
    .value {
      font-size: 26px;
      padding: 5px;
    }
  }
  .label {
    border-radius: 0 0 6px 6px;
    background: #fff;
    font-size: 18px;
    color: rgba(26, 10, 22, 0.4);
    width: 100%;
    text-align: center;
    padding: 5px;
  }
}
