#you_can {
  width: 100%;
  & > .container.present {
    width: 100%;
  }
}

%lil-circle {
  width: 20px;
  height: 20px;

  @media screen and (min-width: $phone) {
    width: 30px;
    height: 30px;
  }
  @media screen and (min-width: $tablet) {
    width: 40px;
    height: 40px;
  }
  border-radius: 50%;
  background: transparent;
  border: 1px solid #bdbdbd;
  transition: transform $slider;
}

.you-can {
  margin: 0 auto;
  @extend %flex-container;

  &__content {
    @extend %flex-container;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
    }
  }

  &__advantages {
    width: 100%;
    margin-top: 35px;
    @media screen and (min-width: $tablet) {
      width: 50%;
      margin-top: 0px;
    }
  }

  &__advantage {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 20px;
    &:nth-of-type(1) {
      margin-top: 0px;
    }
    @media screen and (min-width: $phone) {
      width: 45%;
      margin-top: 40px;
      display: inline-block;
      vertical-align: top;
      &:nth-of-type(2) {
        margin-top: 0px;
      }
      &:nth-of-type(2n+1) {
        margin-right: 5%;
      }
    }

    &:hover &__circle:after {
      transform: translate(4px, -4px);
    }
    &:hover &__circle:before {
      transform: translate(-4px, 4px);
    }

    &__circle {
      position: relative;
      @extend %lil-circle;
      &:after {
        content: '';
        @extend %lil-circle;
        position: absolute;
        top: -4px;
        right: -4px;
        transition-delay: 100ms;
      }
      &:before {
        content: '';
        @extend %lil-circle;
        position: absolute;
        bottom: -4px;
        left: -4px;
      }
      margin-right: 20px;
      @media screen and (min-width: $phone) {
        margin-right: 0px;
      }
    }

    &.circle-wrapper {
      &:nth-child(1) > .circle-wrapper--div {
        filter: drop-shadow(0 4px 2px rgba(243, 171, 31, 0.5))
          drop-shadow(0 4px 10px rgba(243, 171, 31, 0.5))
          drop-shadow(0 4px 20px rgba(243, 171, 31, 0.5));
      }
      &:nth-child(2) > .circle-wrapper--div {
        filter: drop-shadow(0 4px 2px rgba(31, 103, 243, 0.5))
          drop-shadow(0 4px 10px rgba(31, 103, 243, 0.5))
          drop-shadow(0 4px 20px rgba(31, 103, 243, 0.5));
      }
      &:nth-child(3) > .circle-wrapper--div {
        filter: drop-shadow(0 4px 2px rgba(243, 31, 31, 0.5))
          drop-shadow(0 4px 10px rgba(243, 31, 31, 0.5))
          drop-shadow(0 4px 20px rgba(243, 31, 31, 0.5));
      }
      &:nth-child(4) > .circle-wrapper--div {
        filter: drop-shadow(0 4px 2px rgba(243, 31, 171, 0.5))
          drop-shadow(0 4px 10px rgba(243, 31, 171, 0.5))
          drop-shadow(0 4px 20px rgba(243, 31, 171, 0.5));
      }
      &:nth-child(5) > .circle-wrapper--div {
        filter: drop-shadow(0 4px 2px rgba(255, 255, 255, 0.5))
          drop-shadow(0 4px 10px rgba(255, 255, 255, 0.5))
          drop-shadow(0 4px 20px rgba(255, 255, 255, 0.5));
      }
    }

    &__title {
      font-size: 14px;
      line-height: 18px;
      @media screen and (min-width: $phone) {
        margin-top: 15px;
        font-size: 14px;
        line-height: 18px;
      }
      @media screen and (min-width: $tablet) {
        font-size: 16px;
        line-height: 19px;
      }
      color: #f2f2f2;
    }
  }
}
