#header {
  position: sticky;
  top: 0;
  z-index: 5;
  backdrop-filter: blur(8px);
}

.header {
  @extend %flexRow;

  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid grey;


  &__nav {
    @extend %flexRow;

    &_item {
      margin-right: 20px;
      font-weight: bold;
    }
  }

  &__buttons {
    @extend %flexRow;

    &_modal-button {
      @extend %btn-burn;
      padding: 10px 20px;
    }
  }

  &__auth {
    visibility: hidden;
    border: 1px solid $mainWhite;
    border-radius: 5px;
    position: absolute;
    width: 400px;
    right: 0;
    top: 100px;
    z-index: 10;
    background-color: #333333;
    opacity: 0;
    transform: scale(0.7);
    transition: all .8s ease-in-out;
    &.active {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
    }

    &_wrapper {
      width: 100%;
      padding: 20px;
      @extend %flexCol;
      align-items: flex-start;
    }

    &_close {

      @extend %btnWhite;
      font-size: 20px;
    }

    &_menu {
      width: 100%;
      margin-top: 20px;
      padding-bottom: 10px;
      @extend %flexRow;
      justify-content: space-around;
      border-bottom: 1px solid grey;
    }

    &_login {
      width: 100%;
    }
  }
}

.lang-btn {
  background-color: transparent;
  border: none;
  color: $mainWhite;
  margin-right: 20px;
  font-weight: bold;
}
