#header {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: $mainBlack;
}

.header {
  @extend %flexRow;
  height: 80px;
  @media screen and (min-width: $tablet) {
    height: 90px;
  }


  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid grey;


  &__nav {
    @media screen and (max-width: $tablet - 1) {
      overflow: hidden;
      height:0px;
      position: absolute;
      top: 80px;
      left: 0px;


      background-color: rgba(39,39,39,1);
      &.show-mobile {
        overflow: visible;
        height: calc(100vh - 80px);
        padding: 20px;
        width: 100%;
      }


      &_item {
        margin-bottom: 20px;
        font-weight: bold;
      }
    }



    @media screen and (min-width: $tablet) {

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;


      &_item {
        margin-right: 20px;
        font-weight: bold;
      }
    }






  }

  &__btn-mobile {
    display: none;

    @media screen and (max-width: $tablet) {
      display: block;
      width: 30px;
      height: 30px;
      background: none;
      border: none;
      margin-left: 20px;

      &-image {
        pointer-events: none;
        width: 100%;
        height: 100%;
      }
    }





  }

  &__buttons {
    @extend %flexRow;

    &_modal-button {
      @extend %btn-burn;
      padding: 10px 20px;
    }
  }

  &__auth {
    visibility: hidden;
    border: 1px solid $mainWhite;
    border-radius: 5px;
    position: absolute;
    width: 400px;
    right: 0;
    top: 100px;
    z-index: 10;
    background-color: #333333;
    opacity: 0;
    transform: scale(0.7);
    transition: all .8s ease-in-out;
    &.active {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
    }

    &_wrapper {
      width: 100%;
      padding: 20px;
      @extend %flexCol;
      align-items: flex-start;
    }

    &_close {

      @extend %btnWhite;
      font-size: 20px;
    }

    &_menu {
      width: 100%;
      margin-top: 20px;
      padding-bottom: 10px;
      @extend %flexRow;
      justify-content: space-around;
      border-bottom: 1px solid grey;
    }

    &_login {
      width: 100%;
    }
  }
}

.lang-btn {
  background-color: transparent;
  border: none;
  color: $mainWhite;
  margin-right: 20px;
  font-weight: bold;
}
