.home-first {
  padding: 100px 0px 100px 0px;


  background-image: url('../img/background.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;


  position: relative;


  &__s {
    font-weight: bold;
    font-size: 240px;
    line-height: 290px;
    background: linear-gradient(45deg, rgba(90,0,194,1) 0%, rgba(165,111,227,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__subtitle {
    width: 650px;
  }

  &__button {
    @extend %btn-burn;
    margin-top: 60px;
  }

  // &__image {
  //   position: absolute;
  //   width: 50%;
  //   height: 80%;
  //   bottom: 50px;
  //   right: 0;
  //   background-image: url('../img/home-first.png');
  //   background-size:cover;
  //   background-repeat: no-repeat;
  //   z-index: 1;
  // }

}
