

.home-you-can {
  padding: 20px 0px;
  margin-top: 50px;


  &__list {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__item {

    width: 350px;
    margin-right: 20px;
    margin-bottom: 50px;

    @extend %flex-row-start;
    align-items: center;
    &:hover .home-you-can__image-wrapp {
      transform: scale(1.2);
      box-shadow: 0 0 10px $mainGrey;
    }
  }

  &__image-wrapp {
    flex-shrink: 0;
    margin-right: 20px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.3s ease-in-out;
  }

  &__image {
    height: 100%;
    width: 100%;
    transition: animation .3s ease-in-out;
  }



}
