.home-first {
  padding: 20px;
  @media screen and (min-width: $phone) {
    padding: 40px 20px;
  }
  @media screen and (min-width: $tablet) {
    padding: 80px 20px;
  }
  @media screen and (min-width: $desktop) {
    padding: 100px 20px;
  }




  background-image: url('../img/background.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;


  position: relative;

  &__h1 {
    font-size: 36px;
    @media screen and (min-width: $phone) {
      font-size: 48px;
    }
    @media screen and (min-width: $tablet) {
      font-size: 80px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 100px;
    }
  }


  &__s {
    font-weight: bold;

    line-height: 1;
    background: linear-gradient(45deg, rgba(90,0,194,1) 0%, rgba(165,111,227,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 72px;
    @media screen and (min-width: $phone) {
      font-size: 96px;
    }
    @media screen and (min-width: $tablet) {
      font-size: 160px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 200px;
    }
  }

  &__subtitle {
    margin-top: 30px;
    font-weight: normal;
    line-height: 1.4;
    width: 60%;
    font-size: 14px;
    @media screen and (min-width: $phone) {
      font-size: 16px;
    }
    @media screen and (min-width: $tablet) {
      font-size: 20px;
      margin-top: 40px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 24px;
    }

  }

  &__button {
    @extend %btn-burn;

    margin-top: 40px;
    padding: 12px 20px;
    @media screen and (min-width: $tablet) {
      margin-top: 60px;
      padding: 20px 20px;
    }
  }

  // &__image {
  //   position: absolute;
  //   width: 50%;
  //   height: 80%;
  //   bottom: 50px;
  //   right: 0;
  //   background-image: url('../img/home-first.png');
  //   background-size:cover;
  //   background-repeat: no-repeat;
  //   z-index: 1;
  // }

}
