.home-services {
  padding: 20px 0px;
  margin-top: 50px;

  &__list {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 40px;
  }

  &__title {
    transition: color .3s ease-in-out;
    &.active {
      color: $mainWhite;
    }

  }

  &__tabs-block {
    margin-top: 40px;
  }

  &__tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 0;
    height: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
    &.active {
      opacity: 1;
      height: auto;
      pointer-events: auto;
    }
  }

  &__tab {
    width: calc((100% - 30px)/4);
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 20px;
    border-top: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
    border-left: 1px solid #4a4a4a;
    transition: all .3s ease-in-out;
    &:nth-of-type(4n) {
      margin-right: 0px;
    }
    &:hover {
      background-color: rgba(242,242,242, .1);
    }
  }

  &__description {
    margin-top: 20px;
  }
}
