.home-advantages {
  padding: 20px 0px;
  margin-top: 50px;
  @extend %flexCol;
  align-items: flex-start;

  &__list {
    margin-top: 50px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    width:100%;
  }

  &__item {
    @extend %flex-row-start;
    align-items: center;
    width: 350px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    &:hover .home-advantages__image{
      box-shadow: 0 0 15px $mainWhite;
    }
  }

  &__image {
    flex-shrink: 0;
    margin-right: 20px;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    background-image: url(../img/rocket0.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__advantage {
    text-align: left;
  }



}
