// @import './normalize';
// @import './variables';
// @import './preloader';
// @import './mixin';
// @import './error';
// @import './general';
// @import './header';
// @import './navbar';
// @import './hero-slider.scss';
// @import './advantages';
// @import './statistics';
// @import './circle';
// @import './footer';
// @import './services';
// @import './scroll';
// @import './login-modal';
// @import './feedback-modal';
// @import './about-us';
// @import './calc';
// @import './partners';
// @import './contacts';
// @import './timer';
// @import './new-hero';
// @import './you-can';
// @import './new-circle';

.text {
  color: blue;
  opacity: 1;
}

#root {
  transition: all .2s ease;
}

.hide {
  opacity: 0;
}

#preloader:not(.active) {
  display: none;

}

#preloader.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: blue;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  z-index: 10;
}




