{{#each about-us}}
<div class="wrapper">
  <section id="about" class="about section">
    <div class="about-wrapper">

      <div class="about__header">
        <h3 class="about__header_title">{{title}}</h3>
        {{#each definitions}}
          <p class="about__header_definition">about us content</p>
        {{/each}}
      </div>

    </div>
  </section>
</div>
{{/each}}
