<div class="wrapper">
  <section id="header" class="header section">
    <a><img class="pointer" src="../../img/rocket1.svg"  href="/" height="30" width="30"/></a>
    <a href="/contacts">CONTACTS</a>
    <button class="lang-btn">LANG</button>
  </section>
</div>
