<div class="new-circle">
    <div class="new-circle__content">
        <div class="new-circle__circle black"></div>
        <ul class="new-circle__orbits">
            <li class="new-circle__orbit">
                <div class="new-circle__orbit--content">
                    <div class="new-circle__wrap">
                        <div class="new-circle__atom"></div>
                    </div>
                </div>
            </li>
            <li class="new-circle__orbit">
                <div class="new-circle__orbit--content">
                    <div class="new-circle__wrap">
                        <div class="new-circle__atom"></div>
                    </div>
                </div>
            </li>
            <li class="new-circle__orbit">
                <div class="new-circle__orbit--content">
                    <div class="new-circle__wrap">
                        <div class="new-circle__atom"></div>
                    </div>
                </div>
            </li>
            <li class="new-circle__orbit">
                <div class="new-circle__orbit--content">
                    <div class="new-circle__wrap">
                        <div class="new-circle__atom"></div>
                    </div>
                </div>
            </li>
            <li class="new-circle__orbit">
                <div class="new-circle__orbit--content">
                    <div class="new-circle__wrap">
                        <div class="new-circle__atom"></div>
                    </div>
                </div>
            </li>
            <li class="new-circle__orbit">
                <div class="new-circle__orbit--content">
                    <div class="new-circle__wrap">
                        <div class="new-circle__atom"></div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="new-circle__circle"></div>
        <div class="new-circle__circle--ring"></div>

    </div>
</div>