<div class="backdrop" data-close>
    <div class="main-modal feedback">
        <button class="close-button icon-btn">
            <span data-close class="material-icons">clear</span>
        </button>
        <div class="modal">
            <span>{{modal.text}}</span>
        </div>
    </div>