<div class="range__result">
    <input type="text" class="range__result-input"></input>
    <span class="range__result-unit"></span>
</div>
<div class="circle circle__wrapper">
    <div class="circle">
        <div class="circle__half upper">
            <div class="inner up"></div>
        </div>
        <div class="circle__half downer">
            <div class="inner down"></div>
        </div>
    </div>
    <div class="circle__arrow-wrapper">
        <div class="circle__arrow">
            <div class="circle__arrow--dot">
            </div>
        </div>
    </div>
</div>