<div id="hero_slider"> 
    <section class="container present">
        {{#each services-new}}
            <div class="hero-slider__head">
                <h2 class="block-title">
                    <p>02</p>
                    <span>{{title}}</span>
                </h2>
                <ul class="hero-slider__list">
                    {{#each tabs}}
                        <li class="hero-slider__listItem" style="position: relative;">
                            <a class="hero-slider__service-link{{#if @first}} active{{/if}}" href=""
                                data-slide-index="{{@index}}">{{tab-item}}</a>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="hero-slider__svg">
                                <text class="hero-slider__svgtext" fill="none" stroke="white"
                                    stroke-width="0.5px">{{tab-item}}</text>
                            </svg>
                        </li>
                    {{/each}}
                </ul>
            </div>

            <div class="hero-slider" role="slider" aria-labelledby="hero-header" id="slider">
                <div class="hero-slider__content">
                    {{#each tabs}}
                        {{#if @first}}
                            {{> ./hero-slider-slide}}
                        {{/if}}
                    {{/each}}
                </div>
                <div class="hero-slider__indicators"></div>
            </div>
        {{/each}}
    </section>
</div>
