{{#each tabs}}
    <div class="hero-slider__slide {{#if @first}}active{{/if}}">
        <article class="hero-slider__article {{class}}">
            {{!-- <h2 class="main-header" role="header">{{tab-item}}</h2> --}}
            <div class="hero-slider__article-container">
                <h3 class="hero-slider__section-header section__header" role="header">{{tab-item}}
                </h3>
                <ul class="hero-slider__section-list">
                    {{#each serviceList}}
                        <li class="hero-slider__section-listitem">{{title}}</li>
                    {{/each}}
                </ul>
                {{#if order}}{{> ./order-button}}{{/if}}
            </div>
        </article>
    </div>
{{/each}}