<div id="hero_section">
    <section class="container present new-hero">
        <article class="new-hero__article" id="hero-header-scroll">
            <h1 class="new-hero__header" id="hero-header-move">
                <span class="new-hero__header-main">{{hero.title}}</span>
                <span class="new-hero__header-style">{{hero.title-style}}</span>
            </h1>
            <p class="new-hero__text">{{hero.text}}</p>
            <a href="" data-modal="1" data-select="1" class="new-hero__button">{{hero.button}}</a>
        </article>
        <div class="new-hero__server">
        </div>
    </section>
    <div class="new-hero__planet"></div>
</div>