{{!-- {{> ./card}} --}}
<main class="main__home">
    {{> ./hero-new}}
    {{> ./you-can}}
    {{> ./statistics}}
    {{> ./services}}
    {{!-- {{> ./hero-slider}} --}}
    {{> ./our-advantages}}

</main>