{{#each order}}
    <div class="hero-slider__order-container">
        <h3 class="hero-slider__section-header order section__header" role="header">{{buttonTitle}}<a
                class="hero-slider__order-btn" href="/" data-modal="1">{{buttonText}}</a></h3>
    </div>
{{/each}}