{{#each advantages}}
    <section class="container" id="advantages">
        <h2 class="main-header" id="advantages-header">{{title}}</h2>
        <div class="cardset" id="advantages-slider">
            <ul class="cardset__list" id="advantages-slide">
                {{#each list}}
                    <li class="cardset__list-item" data-adv="adv"><img src="" loading="lazy" alt="{{benefit}}"
                            class="cardset__image">
                        <h3 class="cardset__header">{{benefit}}</h3>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="hero-slider__indicators"></div>
    </section>

{{/each}}