<div class="preloader-backdrop" id="id_preloader_backdrop">
  <canvas class="bdCanvas" id="bdCanvas"></canvas>
  <div class="preloader"></div>
  <div class="preloader-planet">
    <div class="globe-container">
      <div class="globe">
        <div class="globe-sphere"></div>
        <div class="globe-worldmap">
          <div class="globe-worldmap-back"></div>
          <div class="globe-worldmap-front"></div>
        </div>
        <div class="globe-inner-shadow"></div>
      </div>
    </div>
  </div>
</div>