{{#each statistics}}
    <div id="statistics">
        <section class="container present">
            <h2 class="block-title">
              <span>02</span>
              <span>{{title}}</span>
            </h2>
            <article class="statistics" id="id_statistics">
                <div class="statistics__wrapper">
                    <div class="statistics__subtitle-circle">
                      <h3 class="section__header">{{subTitle}}</h3>
                      <div class="statistics__circle" id="id_circle">
                        <div class="speed" id="speed">0 %</div>
                        {{> ./circle}}
                      </div>
                    </div>

                    <ul class="statistics__list">
                        {{#each stats}}
                            <li class="statistics__listitem">
                                <span class="statistics__value">{{value}}</span>
                                <span class="statistics__name">{{name}}</span>
                            </li>
                        {{/each}}
                    </ul>

                </div>
            </article>
        </section>
    </div>
{{/each}}
