<section class="container" id="you_can">
  <div>
    {{#each youCan}}
      <h2 class="block-title">
        <span>01</span>
        <span>{{title}}</span>
      </h2>
      <article class="you-can__content">

        <h3 class="content-title">
          {{subTitle}}
        </h3>
        <ul class="you-can__advantages">
          {{#each list}}
            <li class="you-can__advantage circle-wrapper">
              <div class="circle-wrapper--div">
                <div class="you-can__advantage__circle"></div>
              </div>
              <div class="you-can__advantage__title">{{listitem}}</div>
            </li>
          {{/each}}
        </ul>
      </article>
    {{/each}}
  </div>
</section>