<div class="wrapper">
  <section id="footer" class="footer section">
    <div class="footer__wrapper">
      <div class="footer__socials">
        <a class="footer__social footer__social_vk" href="#"></a>
        <a class="footer__social footer__social_inst" href="#"></a>
        <a class="footer__social footer__social_tw" href="#"></a>
        <a class="footer__social footer__social_ok" href="#"></a>
        <a class="footer__social footer__social_fb" href="#"></a>
      </div>
      <div class="footer__contact">
        <a href="tel:0000">
          <div class="footer__contact_phone">
            <div class="footer__contact_image">
              <img src="../../img/phone.svg" alt="phone">
            </div>
            1000
          </div>
        </a>

        <a href="mailto:INFO@CLOUDX.BY">
          <div class="footer__contact_email">
            <div class="footer__contact_image">
              <img src="../../img/envelope.svg" alt="envelope">
            </div>
            INFO@CLOUDX.BY
          </div>
        </a>


      </div>
      <div class="footer-rights">
        <p>2021 * cloudX</p>
      </div>
    </div>
  </section>
</div>
