{{#with hero}}
  <div id="home-first" class="home-first">
    <div class="home-first__title">
      <h1 class="home-first__h1">{{title}}</h1>
      <span class="home-first__s">{{title-style}}</span>
    </div>
    <h2 class="home-first__subtitle">{{text}}</h2>
    <button class="home-first__button">{{button}}</button>
    <div class="home-first__image">
      
    </div>

  </div>

{{/with}}

