
<div class="wrapper">
  <section id="home" class="home section">
    {{> ./Home-first}}
    {{> ./Home-you-can}}
    {{> ./Home-statistics}}
    {{> ./Home-services}}
    {{> ./Home-advantages}}
  </section>
</div>
