{{#each youCan}}
  <div id="home-you-can" class="home-you-can">
    <h3 class="section-title">{{subTitle}}</h3>
    <ul class="home-you-can__list">
      {{#each list}}
      <li class="home-you-can__item">{{listitem}}</li>
      {{/each}}
    </ul>
  </div>

{{/each}}
