{{#each statistics}}
  <div id="home-statistics" class="home-statistics">
    <h4 class="section-title">{{subTitle}}</h4>
    <ul class="home-statistics__list">
      {{#each stats}}
      <li class="home-statistics__item">
        <p class="home-statistics__value">{{value}}</p>
        <p class="home-statistics__name">{{name}}</p>
      </li>
      {{/each}}
    </ul>
  </div>
{{/each}}
